@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --main-color: rgb(22, 160, 133);
}
  
html {
  display: block;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--main-color);
  color: var(--main-color);
  -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1s;
  font-weight: 400;
}

#quote-box {
  width: 605px;
  background: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  margin: 35px 0 5px;
  float: right;
  position: relative;
  background-color: #fff;
}

#quote-box .quote-text {
  text-align: center;
  font-size: 1.75em;
  width: 500px;
  height: auto;
  clear: both;
  font-weight: 500;
  margin-right: 0.4em;
}

#quote-box .quote-author {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-size: 1.em;
  font-style: italic;
  width: 450px;
  height: auto;
  clear: both;
  text-align: right;
}

.buttons {
  border-top: 1px solid #ccc;
  width: 450px;
  display: block;
  margin: auto;
}

.buttons .button {
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
}

#quote-box .buttons #tweet-quote, 
#quote-box .buttons #instagram-quote {
  height: 38px;
  padding: 7px 12px;
  margin: 30px 5px 0px;
  float: left;
}

.buttons #new-quote {
  height: 38px;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  float: right;
}

.buttons #new-quote:hover {
  opacity: 0.9;
}

.footer {
  width: 450px;
  text-align: center;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}